<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="app-sidenav" fixedInViewport>
    <mat-toolbar class="app-toolbar" color="primary">Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/menu" routerLinkActive="active-link">Menu</a>
      <a mat-list-item routerLink="/notenbewertung" routerLinkActive="active-link"
        >Notenbewertung</a
      >
      <a mat-list-item routerLink="/wochentag" routerLinkActive="active-link"
        >Wochentag Bestimmung</a
      >
      <a mat-list-item routerLink="/fakultaet" routerLinkActive="active-link"
        >Fakultät Berechnung</a
      >
      <a mat-list-item routerLink="/vokale" routerLinkActive="active-link">Vokale Zählen</a>
      <a mat-list-item routerLink="/min-max-durch" routerLinkActive="active-link"
        >Min, Max, Durchschnitt</a
      >
      <a mat-list-item routerLink="/haeufigkeit" routerLinkActive="active-link"
        >Häufigkeitsanalyse</a
      >
      <a mat-list-item routerLink="/bubble" routerLinkActive="active-link">Bubble Sort</a>
      <a mat-list-item routerLink="/duplikate-entfernen" routerLinkActive="active-link"
        >Duplikate Entfernen</a
      >
      <a mat-list-item routerLink="/about" routerLinkActive="active-link">About</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="app-toolbar" color="primary">
      <button type="button" mat-icon-button (click)="drawer.toggle()" aria-label="Open menu">
        <mat-icon fontSet="material-symbols-outlined">menu</mat-icon>
      </button>

      <span class="toolbar-title">Java Aufgaben – Angular Umsetzung</span>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
